<h1>Welcome password</h1>
<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<%= form_for User.new do |f| %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <br/>
  <%= f.submit %>

<% end %>

